<a href="https://colab.research.google.com/github/FulISun/AI_ML-DL_Intermediate/blob/main/python_review1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### *Python Review*

In [ ]:
#------------------------------
#       변수: Strings
#------------------------------
#문자열 포맷팅
#소수점 이하 셋째 자리까지 부동 소숫점 숫자 표기
a = 1.0/3
print(f'{a:.3f}') #{}는 변수를 의미
#밑줄(_)로 11칸을 채우고 가운데 정렬(^)하기
a = 'hello'
print(f'{a:_^11}')

0.333
___hello___

In [ ]:
#------------------------------
#       자료구조:튜플
#------------------------------
#객체를 괄호()로 묶음
#다른 type의 객체도 가능 (숫자, 문자 등)
#불변, 수정 불가능
zoo = ('dog', 'cat', 'mouse')
print('Number of animal is ', len(zoo))
print(zoo[1])

singleton =(2)
singleton =(2,)
print(singleton)

#패킹 언패킹
number = 1,2,3 #패킹
print(number) #(1,2,3)
a,b,c = number #언패킹
print(a,b,c) # 1 2 3

Number of animal is  3
cat
(2,)
(1, 2, 3)
1 2 3

In [ ]:
#------------------------------
#       자료구조: LIST
#------------------------------
#객체를 대괄호[]로 묶음
#가변, 수정이 가능
shoplist = ['apple','banana','cherry','carrot']
print(shoplist)

#Append : 객체 추가
shoplist.append('rice')
print(shoplist)
#Replace : 객체 변경
shoplist[0] = 'lego' #0번째 객체인 애플을 레고로 변경
print(shoplist) 
#Delete : 삭제
del shoplist[1]
print(shoplist)

['apple', 'banana', 'cherry', 'carrot']
['apple', 'banana', 'cherry', 'carrot', 'rice']
['lego', 'banana', 'cherry', 'carrot', 'rice']
['lego', 'cherry', 'carrot', 'rice']

In [ ]:
#------------------------------
#       자료구조: 중첩
#------------------------------
#튜플/리스트는 숫자,문자,리스트,딕셔너리 등 모든 구조를 담을 수 있음
a = (1,2,3)
b = [a,1,2] #[(1, 2, 3), 1, 2]
print(b)
print(b[0][1]) #2

#리스트를 문자열로 바꾸기
mylist = ['cherry', 'apple', 'banana']
print(''.join(mylist)) #cherryapplebanana
print(' '.join(mylist)) #cherry apple banana

[(1, 2, 3), 1, 2]
2
cherryapplebanana
cherry apple banana

In [ ]:
#------------------------------
#      자료구조: 슬라이싱
#------------------------------
#[i]형식으로 요소에 접근하는 방식의 확장
#음수 index : L[-1]
#[start, end, stride]
l = [1,2,3,4,5,6,7,8]
print(l[0::3]) #[1, 4, 7] 0부터 끝까지 3개씩
print(l[0:3]) #[1, 2, 3] 마지막은 미포함
print(l[::-1]) #리스트가 반대로 뒤집어져서 나옴

[1, 4, 7]
[1, 2, 3]
[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#------------------------------
#      자료구조: Dict.
#------------------------------
#키에 해당하는 값 저장
#{'key' : 'value'}
#항목 순서 유지 안됨
ab = {  'Swaroop' : 'swaroop@swaroop.com',
        'Larry' : 'larry@wall.org',
        'Marsumoto' : 'matz@ruby-lang.org',
        'Sparmmer' : 'sparmmer@hotmail.com'
        }
print(ab)
print("Swaroop's address is", ab['Swaroop']) #순서 유지가 안 되므로 인덱스에 위치가 아닌 키 값을 직접 입력할 것!

{'Swaroop': 'swaroop@swaroop.com', 'Larry': 'larry@wall.org', 'Marsumoto': 'matz@ruby-lang.org', 'Sparmmer': 'sparmmer@hotmail.com'}
Swaroop's address is swaroop@swaroop.com

In [ ]:
#------------------------------
#     코드 구조 : while else.
#------------------------------
#특정 조건이 참일 경우 계속해서 블록의 명령문을 반복하여 실행
#while이 참이 아닐 때 else 대응

i = 0
while i < 10 :
  print(i)
  i += 1
  if i == 5:
    print("break")  #if문을 주석 안 걸면 4까지 출력 후 break
    break
else :
  print('while-else') #while문이 거짓일 때 실행됨. 0~9까지 출력 후 while-else

0
1
2
3
4
break

In [ ]:
#------------------------------
#     코드 구조 : for else.
#------------------------------
#열거형 자료의 각 요소마다 코드 블록을 반복
#주로 range() 함수 사용하여 반복할 구간을 지정
#리스트, 사전에 대해서 동일하게 작동 
for i in range(0,10) :
  print(i)
  if i == 3 :
    break
else:
  print('a')

###range([start,]stop[,stride])

0
1
2
3

In [ ]:
#------------------------------
#       문자열 sequence
#------------------------------
#문자가 열거된 열거형 자료
#인덱싱, 슬라이싱, for문 적용 가능
s = 'Python'
s[0], s[1:], s[-1] #('P', 'ython', 'n')   << 튜플로 묶여서 출력됨
(s[0], s[1:], s[-1]) #('P', 'ython', 'n')  동일한 결과

for i in s :
  print(i)

#숫자를 문자로 만드는 함수: str()
str(1234)

P
y
t
h
o
n

'1234'

In [ ]:
#------------------------------
#            내포
#------------------------------
#리스트, 사전 등에 적용
#내포 문법: [표현식 for 항목 in 순회가능객체 [if조건]]
#0,1,2,3,4,5 중에 2로 나눈 나머지가 1인 것만 리스트로 만들기
L = [ n*2 for n in range(1, 6) if n % 2 == 1 ]
print(L)

[2, 6, 10]

In [ ]:
#위와 같은 코드이고, 윗 코드를 더 많이 씀. 가동이 빠르고 함축적이라
L = []
for n in range(1,6) :
  if n % 2 == 1 :
    L.append(n)
print(L)

[1, 3, 5]

In [ ]:
#------------------------------
#        함수 function
#------------------------------
def Qr(x, y=1):
  q, r = 0, 0 #q=몫 r=나머지
  while True:
    x -= y
    if x > 0:
      q += 1
    elif x < 0:
      r = y + x
      break
    else:
      q += 1
      break
  return (q, r)

(10, 0)

In [ ]:
#------------------------------
#          위치인자
#------------------------------
#값을 순서대로 상응하는 매개변수에 복사하는 인자
#인자의 의미와 순서를 사용자가 기억해야함
def dc_marvel(superhero, actor, movie) :
  return {'superhero' : superhero, 'actor' : actor, 'movie' : movie}

print(dc_marvel('Batman', 'Ben affleck', 'Justice League')) #각 키:값 으로 출력해줌
print(dc_marvel('Ben affleck', 'Justice League', 'Batman')) #순서를 잘못 배정해도 못 알아들어서 순서대로 키:값 나열해버림!!
#따라서 순서 중요!!

{'superhero': 'Batman', 'actor': 'Ben affleck', 'movie': 'Justice League'}
{'superhero': 'Ben affleck', 'actor': 'Justice League', 'movie': 'Batman'}

In [ ]:
#------------------------------
#          키워드인자
#------------------------------
#매개변수의 이름을 지정하는 인자
#순서 상관없이 이름만 맞추면 됨
print(dc_marvel(actor='Ben affleck', superhero='Batman', movie='Justice League')) #키값을 직접 입력하면 순서 내맘대로 해도 됨

{'superhero': 'Batman', 'actor': 'Ben affleck', 'movie': 'Justice League'}

모듈

In [ ]:
#------------------------------
#         기본 인자
#------------------------------
#매개변수에 사용자가 값을 넘겨주지 않으면 자동으로 기본값을 사용하도록 하는 것
def say(message = 'Hi!', times = 1):
  print(message * times)
say()
say('Hello')
say('World', 5)

Hi!
Hello
WorldWorldWorldWorldWorld

In [ ]:
#------------------------------
#        Lambda function
#------------------------------
#이름 없는 한 줄 짜리 함수
#lambda 키워드를 통해 정의
p = lambda x, y : x+y
p(3, 4)

def plus(x, y): #원래는 def 로 정의했음
  return x+y
plus(3, 4)

7

In [ ]:
# for i in range(10, 0, -1):
#   print(i)

list( map(lambda a: a, range(7, 0, -1)))

In [ ]:
#------------------------------
#            모듈
#------------------------------
#파이썬 코드를 하나의 파일에 묶어놓은 덩어리
import numpy as np
from scipy import optimize

In [ ]:
#------------------------------
#         map function
#------------------------------
#map(function, iterable, .. ) iterable요소를 function에 하나씩 적용
user = [{'name':'홍길동', 'age':36, 'job':'선생님'},
        {'name':'시우민', 'age':18, 'job':'학생'},
        {'name':'변백현', 'age':5, 'job':'과학자'}]
print(type(user))
list(map(lambda u: str(u['age'] // 10 * 10)+'s', user)) #user에 있는 iteration요소들을 lambda함수에 하나씩 적용.

<class 'list'>

['30s', '10s', '0s']

In [ ]:
#------------------------------
#       *args, **kwargs
#------------------------------
#함수의 인자를 가변으로 받을 때 사용 
print(1, 2, 3, 4)
print(1, 2, 3, 4, 'aaa', 'bbb')

def print_args(*args) :
  print("Positional argument tuple:", args)
print_args(1,2,3)

def print_kwargs(**kwargs):
  print("Keyword argument dict:", kwargs)
print_kwargs(actor='Ben affleck', superhero='Batman')

def print_all(*args, **kwargs) :
    print("Positional argument tuple:", args)
    print("Keyword argument dict:", kwargs)
print_all(1,2,name='백현')

1 2 3 4
1 2 3 4 aaa bbb
Positional argument tuple: (1, 2, 3)
Keyword argument dict: {'actor': 'Ben affleck', 'superhero': 'Batman'}
Positional argument tuple: (1, 2)
Keyword argument dict: {'name': '백현'}

In [ ]:
#------------------------------
#          인자 풀기
#------------------------------
#함수에 전달되는 인자를 시퀀스형 그대로 전달하기
def print_vector(x, y, z):
  print(f"{x}, {y}, {z}")
#기본호출
print_vector(1,2,3) #1,2,3
#튜플 풀기
v1 = (100, 200, 300)
print_vector(*v1)
#사전 풀기
v2 = {'x':10, 'y':20, 'z':30}
print_vector(**v2)

1, 2, 3
100, 200, 300
10, 20, 30

In [ ]:
#------------------------------
#         함수를 리턴
#------------------------------
#변수 뿐 아니라 함수도 리턴
#목적 1)함수 내부에서 길게 반복되는 부분을 함수로 만들어 반복호출
#     2)외부 함수의 로컬 변수를 기억하는 함수를 만들어 이용
def make_func(k) :  #외부함수
  def k_times(x) :  #내부에서 함수를 만들어 return
    return k*x

  return k_times
times_5 = make_func(5)  #k=5
times_3 = make_func(3)  #k=3

print(times_5(10)) #x=10
print(times_3(10)) #x=10

50
30

In [ ]:
#------------------------------
#         Generator
#------------------------------
#시퀀스를 생성하는 객체
def gen_123() :  #제너레이터 함수
  yield 1
  yield 2
  yield 3
#자주 쓰는 range()가 제너레이터
def my_range(first = 0, last = 10, step = 1):
  number = first
  while number < last :
    yield number
    number += step

In [ ]:
#------------------------------
#         Decorator
#------------------------------
#함수를 받아서 함수를 반환하는 함수
# -함수 인자
# -내부 함수
# -*arg, **kwargs
def format_hex(func):
  def new_func(*args, **kwargs) :
    ret = func(*args, **kwargs)
    # 16진수로 변경
    return hex(ret)
  return new_func

@format_hex
def times_10(int):
  return int*10

times_10(7)

'0x46'

In [ ]:
#--- pytorch에서 decorator 사용 예 ---#
x = torch.tensor([1], requires_grad = True)
with torch.no_grad() :
  y = x*2
y.requires_grad

@torch.no_grad()
def doubler(x):
  return x * 2 
z = doubler(x)
z.requires_grad

NameError: ignored

In [ ]:
#------------------------------
#          클래스 class
# #------------------------------
# 객체지향 프로그래밍: 함수와 자료를 하나의 덩어리로 묶어 "객체"라는 자료로 다루는 프로그램 방식
#ex) 사람  -  속성(필드): 이름, 키, 몸무게
#          -  기능(메소드): 걷는다, 먹는다, 잔다

#사람이 가지는 속성과 기능을 함께 가지는 어떤 변수를 정의
class Person:
  def __init__(self, n, h, w):
    self.name = n
    self.height = h
    self.weight = w

In [ ]:
import fibo as fb

ModuleNotFoundError: ignored

In [ ]:
fb.fib2(10)

[0, 1, 1, 2, 3, 5, 8]

In [ ]:
#모듈 다시 로드
#함수를 수정한 후 다시 import를 해도 위에 이미 import해서 수정 사항 반영이 안 됨
import importlib
importlib.reload(fibo) #이렇게 하면 되는데 잘 쓸 일 없으